.card {
    position: relative;
    height: 357px;
    width: 249px;
    font-family: 'gwent';
    animation: fadeIn 0.5s ease-in forwards;
    opacity: 0;
}

@keyframes fadeIn {
    0%{
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.card-img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.card-border {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.card-banner {
    position: absolute;
    top: 0;
    left: 0;
    width: 26%;
}

.card-rarity {
    position: absolute;
    top: 7px;
    left: 7px;
}

.card-provision {
    position: absolute;
    bottom: 7px;
    right: 7px;
}

.card-provision-icon {
    position: absolute;
    bottom: 64px;
    right: 7px;
}

.card-provision-value {
    position: absolute;
    width: 49px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: 8px;
    right: 7px;
    z-index: 100;
    font-size: 35px;
    color: aliceblue;
    background: linear-gradient(to top, #fceabb, #f8b500); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.card-power-value {
    position: absolute;
    width: 65px;
    height: 69px;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0px;
    left: 0px;
    z-index: 100;
    font-size: 35px;
    color: aliceblue;
    background: linear-gradient(to top, #ada996, #f2f2f2, #dbdbdb, #eaeaea); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.card-type {
    position: absolute;
    width: 17%;
    top: 11px;
    left: 11px;
}