@font-face {
  font-family: 'gwent';
  font-style: normal;
  font-weight: normal;
  src: local('CarterOne'), url('./fonts/gwent.ttf') format('truetype');
}


.link {
  font-family: 'gwent';
  padding: 0 20px;
  color: #666;
}

.link_active {
  color: red;
}

