@font-face {
  font-family: 'CarterOne';
  font-style: normal;
  font-weight: normal;
  src: local('CarterOne'), url('./fonts/CarterOne-Regular.ttf') format('truetype');
}

.link {
  font-family: 'CarterOne';
  padding: 20px;
  color: #666;
}

.link_active {
  color: red;
}

